* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.main-hero{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb30e;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  object-fit: cover;
}
.logo > img {
  width: 60px;
  transition: 2s;
}
.logo > img:hover {
  transform: rotate(360deg);
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* background-color: beige; */
}
.location-icn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.location > span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.location-icn > a {
  text-decoration: none;
  color: orange;
}
.location-icn > a > .loc {
  font-size: 1rem;
  padding: 5px;
  color: silver;
  font-weight: 600;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 2rem;
}
.icon > a {
  text-decoration: none;
  color: orange;
}
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffb30e;
  margin-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
}
.hero-1 {
  width: 50%;
  /* padding-bottom: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  flex-wrap: wrap;
 
  gap: 15px;
}
.hero-2 {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.hero-2 > img {
  width: 100%;
}
.hero1-box {
  
  width: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.hero1-head {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  text-transform: capitalize;
}
.hero-content {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-transform: capitalize;
}
.hero1-first {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero1-second {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deliver {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #f8e2d6;
  color: #f17728;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  text-transform: capitalize;
}
.deliver:hover,
.pickup:hover {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 1s ease;
}
.pickup {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #e4e4e4;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  text-transform: capitalize;
}
.cont{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.cont1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #f17728;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 10px;
}
.cont2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.cont2-icons>a{
 width: 60px;
 height: 60px;
  border-radius: 50%;
  background-color: #f8e2d6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #f17728;
  font-size: 1.5rem;
  border: 2px solid #f3d2bf;
  text-decoration: none;
}
.cont2-icons>a:hover{
  background-color: #f3d2bf;
}
.developer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
  color: #f17728;
  border: 2px solid #f3d2bf;
  background-color: #f8e2d6;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.developer:hover{
background-color: #f3d2bf;
}

.mains{
  background-color: #ffffff;
  
}

.main-1{
  width: 100%;
  padding: 40px 80px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  /* background-color: #f17728; */
}
.card{
  width: 220px;
  border-radius: 20px;
  background-color: #ffffff;
  object-fit: cover;
  transition: 1s;
  
}
.card>img{
  width: 100%;
  cursor: pointer;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
@media screen and (min-width:1250px){
  .main{
    width: 1200px;
  }
}
@media screen and (max-width:1035px){
  .hero{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 20px;
  }
  .hero-1{
    width: 100%;
  }.hero-2{
    width: 100%;
    justify-content: center;
  }
  .hero1-head,.hero1-content{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .hero1-box{
    width: 100%;
  }
}
@media screen and (max-width: 860px) {
  header {
    gap: 10px;
    padding: 30px;
  }
  .logo > img {
    width: 50px;
  }
  .icon {
    font-size: 1.5rem;
  }
  .hero{
    padding-left: 30px;
    padding: 30px;
  }
  .main-1{
    justify-content: space-around;
  }
  .card{
    width: 200px;
  }
  .main-1{
    padding: 30px;
  }
}
@media screen and (max-width: 550px) {
  header {
    gap: 10px;
    padding: 30px;
  }

  .icon {
    font-size: 1.4rem;
  }
  .logo > img {
    width: 50px;
  }
  .location-icn {
    font-size: 1.1rem;
  }
  .location > span {
    font-size: 0.8rem;
  }
  .location-icn > a > .loc {
    font-size: 0.8rem;
  }
  .hero1-first{
    width: 100%;
    justify-content: center;
  }
  .cont2-icons>a{
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .card{
    width: 250px;
  }
}
