* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  gap: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  object-fit: cover;
}
.logo > img {
  width: 60px;
  transition: 2s;
}
.logo > img:hover {
  transform: rotate(360deg);
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /* background-color: beige; */
}
.location-icn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.location > span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.location-icn > a {
  text-decoration: none;
  color: orange;
}
.location-icn > a > .loc {
  font-size: 1rem;
  padding: 5px;
  color: silver;
  font-weight: 600;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 2rem;
}
.icon > a {
  text-decoration: none;
  color: orange;
}
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffb30e;
  margin-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
}
.hero-1 {
  width: 50%;
  display: flex;
  align-items: center;
  /* background-color: antiquewhite; */
  flex-wrap: wrap;
  gap: 15px;
}
.hero-2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.hero-2 > img {
  width: 100%;
}
.hero1-box {
  width: 80%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  background-color: white;
  padding: 20px;
}
.hero1-head {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  text-transform: capitalize;
}
.hero-content {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-transform: capitalize;
}
.hero1-first {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero1-second {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deliver {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #f8e2d6;
  color: #f17728;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  text-transform: capitalize;
}
.deliver:hover,
.pickup:hover {
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 1s ease;
}
.pickup {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #e4e4e4;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  text-transform: capitalize;
}

@media screen and (max-width: 860px) {
  header {
    gap: 10px;
    padding: 30px;
  }
  .logo > img {
    width: 50px;
  }
  .icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  header {
    gap: 10px;
    padding: 30px;
  }

  .icon {
    font-size: 1.4rem;
  }
  .logo > img {
    width: 50px;
  }
  .location-icn {
    font-size: 1.1rem;
  }
  .location > span {
    font-size: 0.8rem;
  }
  .location-icn > a > .loc {
    font-size: 0.8rem;
  }
}
